body{
    background-color: #F3F1FF;
}
.navbar img{
    width: 40px;
}
.top-element-inner{
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
}
.top-player-img{
    width: 54px;
}
.top-player-name{
    font-weight: 600;
}
.top-blog-section img{
    width: 160px;
}
.top-blog-section{
    border-top: 1.5px solid rgba(128, 128, 128, 0.411);
}
.bg-blue{
    color: rgba(31, 31, 224, 0.747);
}
.blog-heading{
    font-size: 25px;
}
.top-blog-section-text p{
    color: rgb(165, 155, 155);
}


.course-main-img{
    max-width: 100%;
}
.rating img{
    width: 15px;
}
.course-inner-area{
    box-shadow: 10px 10px 40px rgba(211, 211, 211, 0.575);
    padding: 30px;
    border-radius: 20px;
}
.time img{
    width: 15px;
}
.course-inner{
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
}
.course-holder-name{
    color: rgba(255, 0, 0, 0.548);
}
.time{
    background-color: rgba(255, 0, 0, 0.205);
    padding: 0 5px;
    border-radius: 30px;
    color: rgba(255, 0, 0, 0.548);
}
.special-star{
    opacity: .2;
}
.course-title{
    font-size: 20px;
    font-weight: 600;
}